<template>
  <div class="message--other">
    <div class="message__author">{{ author }}</div>
    <div class="message__contents">{{ contents }}</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class MessageOther extends Vue {
  @Prop({ type: String, required: false }) readonly contents:
    | string
    | undefined;
  @Prop({ type: String, required: false }) readonly author: string | undefined;
}
</script>
