<template>
  <transition-group name="messages-list" tag="div">
    <div
      v-for="(message, index) in messages"
      :key="index"
      class="messages-list-item"
    >
      <!-- The messages list contains four different kinds of messages -->
      <!-- Voting message: Contains the answer to a question from the current player -->
      <message-voting
        v-if="message.authorId === -1"
        :contents="message.message"
      />

      <!-- Notification message: Contains server notifications like joining players or game events -->
      <message-notification
        v-else-if="[-2, -3, -4, -5].includes(message.authorId)"
        :contents="messageContent(message)"
      />

      <!-- Current player message, displayed on the left side of the chat -->
      <message-player
        v-else-if="message.isPlayer"
        :author="message.author"
        :contents="message.message"
      />

      <!-- Other message (i.e. message from other players), displayed on the right side of the chat -->
      <message-other
        v-else
        :author="message.author"
        :contents="message.message"
      />
    </div>
  </transition-group>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Message } from "@/types";
import MessagePlayer from "./MessagePlayer.vue";
import MessageOther from "./MessageOther.vue";
import MessageVoting from "./MessageVoting.vue";
import MessageNotification from "./MessageNotification.vue";

@Component({
  components: {
    MessagePlayer,
    MessageOther,
    MessageVoting,
    MessageNotification
  }
})
export default class MessagesList extends Vue {
  // Computed properties
  /**
   * Returns all messages sent so far as an array ordered by timestamp
   */
  get messages(): Array<Message> {
    if (this.$store.state.game.messages === undefined) {
      return [];
    } else {
      return Object.entries(this.$store.state.game.messages)
        .map(item => item[1] as Message)
        .sort((a, b) => a.timestamp - b.timestamp);
    }
  }

  /**
   * Decodes server notification messages (which contain only integers) to localized strings
   * @param message
   * @private
   */
  private messageContent(message: Message): string {
    if (message.authorId === -2) {
      return this.$t("message.playerJoined", [message.message]).toString();
    } else if (message.authorId === -3) {
      return this.$t("message.allPlayersSolved").toString();
    } else if (message.authorId === -4) {
      return this.$t("message.playerTurn", [message.message]).toString();
    } else if (message.authorId === -5) {
      return this.$t("message.playerLeft", [message.message]).toString();
    } else {
      return "";
    }
  }
}
</script>
