<template>
  <div class="message--notification">
    <div class="message__contents">{{ contents }}</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class MessageNotification extends Vue {
  @Prop({ type: String, required: false }) readonly contents:
    | string
    | undefined;
}
</script>
