<template>
  <div>
    <div v-if="contents === '0'" class="message--voting--yes">
      <div class="message__contents">{{ $t("ui.yes") }}</div>
    </div>
    <div v-else-if="contents === '1'" class="message--voting--no">
      <div class="message__contents">{{ $t("ui.no") }}</div>
    </div>
    <div v-else-if="contents === '2'" class="message--voting--solved">
      <div class="message__contents">{{ $t("ui.solved") }}</div>
    </div>
    <div v-else-if="contents === '3'" class="message--voting--invalid">
      <div class="message__contents">{{ $t("ui.invalid") }}</div>
    </div>
    <div v-else class="message--voting--no-answer">
      <div class="message__contents">{{ $t("ui.noAnswer") }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class MessageVoting extends Vue {
  @Prop({ type: String, required: false }) readonly contents:
    | string
    | undefined;
}
</script>
