<template>
  <div>
    <section class="message-input">
      <!-- When voting is in progress, the message input is hidden for everyone but the current player -->
      <b-field
        v-if="!voting || !isNotPlayer"
        grouped
        :type="{ 'is-danger': messageError, 'is-primary': !messageError }"
      >
        <!-- Text input for the message. Messages can also be sent by pressing enter in the text input -->
        <b-input
          :placeholder="$t('ui.yourMessage')"
          v-model="message"
          @keyup.enter.native="onNewOwnMessage"
          expanded
          :disabled="voting"
        ></b-input>
        <template #message v-if="!isNotPlayer">
          <div>{{ $t("message.questionMark") }}</div>
        </template>

        <!-- Button to send the message -->
        <p class="control">
          <button
            class="button is-primary"
            @click="onNewOwnMessage"
            :disabled="voting"
          >
            <b-icon pack="fas" icon="paper-plane"></b-icon>
            <span v-if="!isMobile">{{ $t("ui.send") }}</span>
          </button>
        </p>
      </b-field>
    </section>
    <voting-buttons v-if="voting && isNotPlayer"></voting-buttons>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Message } from "@/types";
import VotingButtons from "./VotingButtons.vue";
import { Dictionary } from "vue-router/types/router";

@Component({
  components: {
    VotingButtons
  }
})
export default class InputContainer extends Vue {
  // Data
  private message = "";
  /**
   * Whether there is an error with the message the current user has tried to send.
   * @private
   */
  private messageError = false;

  // Computed properties
  /**
   * Whether the page is accessed from a mobile (not tablet) device.
   */
  get isMobile(): boolean {
    return this.$store.state.isMobile;
  }

  /**
   * Returns all messages sent so far as a dict.
   */
  get messages(): Dictionary<Message> {
    return this.$store.state.game.messages;
  }

  /**
   * Returns the UID of the current user.
   */
  get userId(): string {
    return this.$store.state.user.uid;
  }

  /**
   * Returns the display name of the current user.
   */
  get userName(): string {
    return this.$store.state.user.displayName;
  }

  /**
   * Returns the UID of the player whose turn it is.
   */
  get playerId(): string {
    return this.$store.state.game.playerId;
  }

  /**
   * Whether a voting is in progress.
   */
  get voting(): boolean {
    return this.$store.state.game.voting.ongoing;
  }

  /**
   * Whether it's not the current user's turn.
   */
  get isNotPlayer(): boolean {
    return this.userId !== this.playerId;
  }

  //Methods
  /**
   * Creates a new message object and pushes it to the Firebase Realtime Database.
   */
  onNewOwnMessage() {
    if (!this.message || this.message.length === 0) {
      this.messageError = true;
      return;
    }
    this.messageError = false;
    const newOwnMessage = {
      author: this.userName,
      authorId: this.userId,
      message: this.message,
      isPlayer: !this.isNotPlayer,
      timestamp: Date.now()
    };
    this.$store.dispatch("pushMessage", {
      message: newOwnMessage
    });
    this.message = "";
  }
}
</script>
