<template>
  <div class="voting-buttons">
    <!-- The color of the progress bar changes based on how much time is left (from green to yellow to red) -->
    <b-progress
      :type="{
        'is-primary': timeLeft > 50,
        'is-warning': timeLeft <= 50 && timeLeft > 20,
        'is-danger': timeLeft <= 20
      }"
      class="voting-countdown"
      :value="timeLeft"
    ></b-progress>

    <!-- Left column, contains "yes" and "solved" buttons -->
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical is-6">
        <!-- Button for voting "yes" -->
        <div class="tile is-child">
          <button
            class="button is-outlined is-small is-success is-fullwidth"
            :disabled="!enableButtons"
            @click="vote(0)"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'check']" />
            </span>
            <span>{{ $t("ui.yes") }}</span>
          </button>
        </div>

        <!-- Button for voting "solved" -->
        <div class="tile is-child">
          <button
            class="button is-outlined is-small is-info is-fullwidth"
            :disabled="!enableButtons"
            @click="vote(2)"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'user-check']" />
            </span>
            <span>{{ $t("ui.solved") }}</span>
          </button>
        </div>
      </div>

      <!-- Right column, contains "no" and "invalid" buttons -->
      <div class="tile is-parent is-vertical is-6">
        <!-- Button for voting "no" -->
        <div class="tile is-child">
          <button
            class="button is-outlined is-small is-danger is-fullwidth"
            :disabled="!enableButtons"
            @click="vote(1)"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'times']" />
            </span>
            <span>{{ $t("ui.no") }}</span>
          </button>
        </div>

        <!-- Button for voting "invalid" -->
        <div class="tile is-child">
          <button
            class="button is-outlined is-small is-fullwidth"
            :disabled="!enableButtons"
            @click="vote(3)"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'ban']" />
            </span>
            <span>{{ $t("ui.invalid") }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class VotingButtons extends Vue {
  // Data
  /**
   * Whether the buttons are enabled and the current user can vote
   * @private
   */
  private enableButtons = true;
  /**
   * How much time is left (in percent, for the progress bar)
   * @private
   */
  private timeLeft = 100;

  private timeout: ReturnType<typeof setTimeout> | undefined;
  private timer: ReturnType<typeof setInterval> | undefined;

  // Computed properties
  /**
   * Returns the timestamp when the voting started
   */
  get timestamp(): number {
    return this.$store.state.game.voting.timestamp;
  }

  // Methods
  /**
   * Casts a vote
   * @param voting - An integer indicating the vote cast
   * @private
   */
  private vote(voting: number) {
    this.enableButtons = false;
    this.stopTimer();
    this.$store.dispatch("pushVoting", voting);
  }

  /**
   * Starts two timed events: An interval to update the progress bar every second and a timeout to cast a blank vote
   * when 20 seconds have elapsed.
   * @private
   */
  private startTimer() {
    this.timer = setInterval(() => (this.timeLeft -= 5), 1000);
    this.timeout = setTimeout(() => {
      this.stopTimer();
      this.vote(-1);
      this.enableButtons = false;
    }, this.timeLeft * 200 + 1000);
  }

  /**
   * Deletes the interval and timeout to stop it from casting a blank vote when the current user has voted.
   * @private
   */
  private stopTimer() {
    if (this.timer) clearInterval(this.timer);
    if (this.timeout) clearTimeout(this.timeout);
  }

  // Lifecycle hooks
  /**
   * When reloading the page, the voting countdown should not start at 20 seconds again.
   * Instead, the remaining time to vote is calculated from the voting timestamp and the countdown is set up
   * accordingly.
   */
  created() {
    const timeElapsed = (Date.now() - this.timestamp) / 200;
    this.timeLeft = Math.max(100 - timeElapsed, 0);
    if (this.timeLeft <= 0) {
      this.enableButtons = false;
      this.vote(-1);
    } else {
      this.startTimer();
    }
  }

  /**
   * Stops the interval and timeout when the component is destroyed.
   */
  destroyed() {
    if (this.timeout || this.timer) {
      this.stopTimer();
    }
  }
}
</script>
