<template>
  <div class="tile is-ancestor feedback">
    <div class="tile is-parent">
      <div class="tile is-child box feedback-form">
        <iframe
          v-if="locale === 'de'"
          class="airtable-embed airtable-dynamic-height"
          src="https://airtable.com/embed/shr4JXqPD2c3VsrX7?backgroundColor=pink"
          style="background: transparent; width: 100%"
        ></iframe>
        <iframe
          v-else
          class="airtable-embed airtable-dynamic-height"
          src="https://airtable.com/embed/shrSaGbDV4de6Y6Hc?backgroundColor=pink"
          style="background: transparent; width: 100%"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import i18n from "../i18n";

@Component
export default class Feedback extends Vue {
  // Computed properties
  get locale(): string {
    return i18n.locale;
  }
}
</script>
