<template>
  <!-- List of all open public games with an option to join them -->
  <div class="tile is-ancestor games-list">
    <div class="tile is-parent">
      <div class="tile is-child box games-list-content">
        <b-table
          :data="games"
          hoverable
          :mobile-cards="isMobile"
          paginated
          per-page="10"
          pagination-position="bottom"
        >
          <b-table-column field="host" label="Host" width="200" v-slot="props">
            {{ getHost(props.row) }}
          </b-table-column>

          <b-table-column field="mode" :label="$t('ui.mode')" v-slot="props">
            <span class="tag is-secondary" v-if="props.row.partyMode">
              {{ $t("ui.partyMode") }}
            </span>
            <span class="tag" v-else>
              {{ $t("ui.classicMode") }}
            </span>
          </b-table-column>

          <b-table-column
            field="players"
            :label="$t('ui.player')"
            v-slot="props"
          >
            <span>
              <b-icon
                v-for="(n, index) in props.row.currentPlayers"
                :key="props.row.gameId + '-C-' + index"
                pack="far"
                icon="user"
                type="is-secondary"
              >
              </b-icon>
              <b-icon
                v-for="(n, index) in props.row.maxPlayers -
                  props.row.currentPlayers"
                :key="props.row.gameId + '-M-' + index"
                pack="far"
                icon="user"
                type="is-deactivated"
              >
              </b-icon>
            </span>
          </b-table-column>

          <b-table-column field="join" v-slot="props" numeric>
            <b-button
              class="button is-primary"
              @click="joinGame(props.row.gameId)"
              >{{ $t("ui.joinGame") }}</b-button
            >
          </b-table-column>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Game, Player } from "@/types";

@Component
export default class GamesList extends Vue {
  // Data
  /**
   * Returns all public games with open player slots
   */
  get games(): Array<Game> {
    return Object.entries(this.$store.state.allGames)
      .map(x => {
        const g = x[1] as Game; // Firebase returns the games as a dict of tuples with the first element being the UID
        g.gameId = x[0];
        return g;
      })
      .filter(
        // Show only the games which are public and have open player slots
        x =>
          !x.privateGame &&
          !x.isStarted &&
          !x.isSelecting &&
          !x.isFinished &&
          x.currentPlayers > 0 &&
          x.currentPlayers < x.maxPlayers
      );
  }

  /**
   * Whether the website is viewed on a mobile device
   */
  get isMobile(): boolean {
    return this.$store.state.isMobile;
  }

  //Methods
  /**
   * Gets the username of the host of a game
   * @param game
   * @private
   */
  private getHost(game: Game) {
    return Object.entries(game.players)
      .map(x => x[1] as Player)
      .filter(x => x.userId === game.creatorId)[0].userName;
  }

  /**
   * Moves the user to the selected game
   * @param gameId
   * @private
   */
  private joinGame(gameId: string) {
    this.$router.push({ path: "/game/" + gameId });
  }

  //Lifecycle hook
  destroyed() {
    this.$store.dispatch("unbindAllGames");
  }
}
</script>
>
