<template>
  <div class="game">
    <game-main v-if="isStarted" />
    <game-lobby v-else />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Player } from "@/types";
import GameMain from "@/components/GameMain.vue";
import GameLobby from "@/components/GameLobby.vue";
import { Route } from "vue-router";

Component.registerHooks(["beforeRouteLeave"]);

@Component({
  name: "Game",
  components: {
    GameMain,
    GameLobby
  }
})
export default class Game extends Vue {
  /**
   * Returns the current players in the game as an array
   */
  get players(): Array<Player> {
    return Object.entries(this.$store.state.game.players).map(
      x => x[1] as Player // Firebase returns the players as a dict of tuples with the first element being the UID
    );
  }

  /**
   * Whether the game has started.
   * Needed for determining which game component to show and for dialogues
   * @see {@link created}
   */
  get isStarted(): boolean {
    return this.$store.state.game.isStarted;
  }

  /**
   * Whether the game has been finished.
   * Needed for dialogues
   * @see {@link created}
   */
  get isFinished(): boolean {
    return this.$store.state.game.isFinished;
  }

  /**
   * Needed to determine whether the current user has joined the game yet
   * @see {@link hasJoinedGame}
   */
  get userId(): string | undefined {
    if (this.isLoggedIn) {
      return this.$store.state.user.uid;
    } else {
      return undefined;
    }
  }

  /**
   * Whether an anonymous Firebase user has been created for the current client
   */
  get isLoggedIn(): boolean {
    return this.$store.state.user !== null;
  }

  /**
   * Whether the current user has joined the game yet
   */
  get hasJoinedGame(): boolean {
    return (
      this.isLoggedIn &&
      this.players.filter(
        (player: Player) => player.userId === this.$store.state.user.uid
      )[0] != undefined
    );
  }

  // Methods
  /**
   * Tells the user that the requested game has already started and can't be joined anymore
   * @private
   */
  private gameStartedDialog(): void {
    this.$buefy.dialog.alert({
      title: this.$t("message.gameStartedDialogTitle").toString(),
      message: this.$t("message.gameStartedDialogMessage").toString(),
      type: "is-danger",
      scroll: "keep",
      ariaRole: "alertdialog",
      ariaModal: true,
      confirmText: this.$t("ui.back").toString(),
      onConfirm: () => this.$router.push({ path: `/` })
    });
  }

  /**
   * Tells the user that the requested game doesn't exist
   * @private
   */
  private nonexistentGameDialog(): void {
    this.$buefy.dialog.alert({
      title: this.$t("message.nonexistentGameDialogTitle").toString(),
      message: this.$t("message.nonexistentGameDialogMessage").toString(),
      type: "is-danger",
      scroll: "keep",
      ariaRole: "alertdialog",
      ariaModal: true,
      confirmText: this.$t("ui.back").toString(),
      onConfirm: () => this.$router.push({ path: `/` })
    });
  }

  // Lifecycle hook
  created() {
    if (Object.keys(this.$store.state.game).length === 0) {
      // Game doesn't exist
      this.nonexistentGameDialog();
    } else if (!this.hasJoinedGame && this.isStarted) {
      // Game has already started and the user hasn't joined
      this.gameStartedDialog();
    } else if (this.hasJoinedGame) {
      // User has joined the game
      this.$store.dispatch("bindOnDisconnect", {
        gameId: this.$store.state.game[".key"],
        uid: this.userId
      });
    }
  }

  beforeRouteLeave(to: Route, from: Route, next: any) {
    if (this.isFinished && this.hasJoinedGame) {
      this.$store.dispatch("removeUser", {
        uid: this.userId
      });
      next();
    } else if (this.hasJoinedGame) {
      this.$buefy.dialog.confirm({
        title: this.$t("message.leaveGameDialogTitle").toString(),
        message: this.$t("message.leaveGameDialogMessage").toString(),
        type: "is-danger",
        scroll: "keep",
        ariaRole: "alertdialog",
        ariaModal: true,
        cancelText: this.$t("ui.cancel").toString(),
        confirmText: this.$t("ui.leave").toString(),
        onConfirm: () => {
          this.$store.dispatch("removeUser", {
            uid: this.userId
          });
          next();
        }
      });
    } else {
      next();
    }
  }
}
</script>
