<template>
  <div>
    <!-- Home screen layout for mobile shows "how to play" and the buttons for creating and joining games
    in vertical order -->
    <div v-if="isMobile" class="tile is-ancestor is-vertical home">
      <!-- How to play -->
      <div class="tile is-parent">
        <div class="tile is-child box stats-column" @click="toggleExpanded">
          <section class="howto-mobile" :class="{ expanded: isExpanded }">
            <h2>{{ $t("message.howToPlayTitle") }}</h2>
            <p>
              {{ $t("message.howToPlayP1") }}
            </p>
            <h3>{{ $t("message.howToPlayH2") }}</h3>
            <p>
              {{ $t("message.howToPlayP2") }}
            </p>
            <h3>{{ $t("message.howToPlayH3") }}</h3>
            <p>
              {{ $t("message.howToPlayP3") }}
            </p>
            <h3>{{ $t("message.howToPlayH4") }}</h3>
            <p>
              {{ $t("message.howToPlayP4") }}
            </p>
          </section>
          <div
            class="expand-howto-mobile"
            :class="{ expanded: isExpanded }"
          ></div>
        </div>
      </div>
      <!-- Create game button -->
      <div class="tile is-parent">
        <div class="tile is-child box card-button">
          <a class="new-game" @click="createGame">
            <span>{{ $t("ui.newGame") }}</span>
          </a>
        </div>
      </div>
      <!-- Join game button -->
      <div class="tile is-parent">
        <div class="tile is-child box card-button">
          <router-link class="new-game" :to="{ path: '/games' }">
            <span>{{ $t("ui.joinGame") }}</span>
          </router-link>
        </div>
      </div>
    </div>

    <!-- Home screen layout non-mobile devices shows "how to play" section in the middle and the buttons for
    creating and joining games to its sides -->
    <div v-else class="tile is-ancestor home">
      <!-- Create game button -->
      <div class="tile is-parent is-3">
        <div class="tile is-child box card-button">
          <a class="new-game" @click="createGame">
            <span>{{ $t("ui.newGame") }}</span>
          </a>
        </div>
      </div>
      <!-- How to play -->
      <div class="tile is-parent">
        <div class="tile is-child box stats-column">
          <perfect-scrollbar id="questions-scroll-container">
            <h2>{{ $t("message.howToPlayTitle") }}</h2>
            <p>
              {{ $t("message.howToPlayP1") }}
            </p>
            <h3>{{ $t("message.howToPlayH2") }}</h3>
            <p>
              {{ $t("message.howToPlayP2") }}
            </p>
            <h3>{{ $t("message.howToPlayH3") }}</h3>
            <p>
              {{ $t("message.howToPlayP3") }}
            </p>
            <h3>{{ $t("message.howToPlayH4") }}</h3>
            <p>
              {{ $t("message.howToPlayP4") }}
            </p>
          </perfect-scrollbar>
        </div>
      </div>
      <!-- Join game button -->
      <div class="tile is-parent is-3">
        <div class="tile is-child box card-button">
          <router-link class="new-game" :to="{ path: '/games' }">
            <span>{{ $t("ui.joinGame") }}</span>
          </router-link>
        </div>
      </div>
    </div>
    <game-modal />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import GameModal from "@/components/GameModal.vue";

@Component({
  name: "Home",
  components: {
    GameModal
  }
})
export default class Home extends Vue {
  // Data
  /**
   * Whether the "how to play" section is expanded
   * @private
   */
  private isExpanded = false;

  // Computed properties
  /**
   * Whether the modal for creating a new game is currently being shown
   */
  get showGameModal(): boolean {
    return this.$store.state.showGameModal;
  }

  /**
   * Whether the website is viewed on a mobile device
   */
  get isMobile(): boolean {
    return this.$store.state.isMobile;
  }

  // Methods
  /**
   * Toggles the expansion state of the "how to play" section
   * @private
   */
  private toggleExpanded() {
    this.isExpanded = !this.isExpanded;
  }

  /**
   * Opens the modal for creating a new game
   * @private
   */
  private createGame() {
    this.$store.commit("setShowGameModal", true);
  }
}
</script>
