<template>
  <!-- Privacy policy for the service in English to comply with EU law -->
  <div class="tile is-ancestor maintenance">
    <div class="tile is-parent is-12">
      <div class="tile is-child box maintenance-content">
        <h1>{{ $t("message.maintenanceH") }}</h1>
        <p>{{ $t("message.maintenanceP") }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Maintenance extends Vue {}
</script>
>
