<template>
  <!-- Privacy policy for the service in English to comply with EU law -->
  <div class="tile is-ancestor privacy">
    <div class="tile is-parent is-12">
      <div class="tile is-child box privacy-policy">
        <h1>Privacy Policy</h1>
        <p>
          Last updated: August 18, 2020.
        </p>
        <p>
          The WerBinIch app was built by Samuel Busch as a free app. This
          SERVICE is provided by Samuel Busch at no cost and is intended for use
          as is.
        </p>
        <p>
          This page is used to inform website visitors regarding our policies
          with the collection, use, and disclosure of Personal Information if
          anyone decided to use our Service.
        </p>
        <p>
          By choosing to use this Service You agree to the collection and use of
          information in relation with this policy. The Personal Information
          that we collect is used for providing and improving the Service. We
          will not use or share Your information with anyone except as described
          in this Privacy Policy.
        </p>

        <h2>Interpretation and Definitions</h2>
        <p><strong>Interpretation</strong></p>
        <p>
          The words of which the initial letter is capitalized have meanings
          defined under the following conditions. The following definitions
          shall have the same meaning regardless of whether they appear in
          singular or in plural.
        </p>
        <p><strong>Definitions</strong></p>
        <p></p>
        <ul>
          <li>
            <strong>Cookies</strong> are small files that are placed on Your
            computer, mobile device or any other device by a website, containing
            the details of Your browsing history on that website among its many
            uses.
          </li>
          <li>
            <strong>Device</strong> means any device that can access the Service
            such as a computer, a cellphone or a digital tablet.
          </li>
          <li>
            <strong>LocalStorage</strong> is an industry-standard technology
            that allows the Service to store information locally on Your Device.
          </li>
          <li>
            <strong>Personal Information</strong> is any information that
            relates to an identified or identifiable individual.
          </li>
          <li><strong>Service</strong> refers to the Website.</li>
          <li>
            <strong>Service Provider</strong> means any natural or legal person
            who processes the data on behalf of the Company. It refers to
            third-party companies or individuals employed by the Company to
            facilitate the Service, to provide the Service on behalf of the
            Company, to perform services related to the Service or to assist the
            Company in analyzing how the Service is used.
          </li>
          <li>
            <strong>Usage Data</strong> refers to data collected automatically,
            either generated by the use of the Service or from the Service
            infrastructure itself (for example, the duration of a page visit).
          </li>
          <li>
            <strong>We</strong> (referred to as either "We", "Us" or "Our" in
            this Agreement) refers to Samuel Busch.
          </li>
          <li>
            <strong>Website</strong> refers to WerBinIch, accessible from
            https://www.werbinich.online.
          </li>
          <li>
            <strong>You</strong> means the individual accessing or using the
            Service, or the company, or other legal entity on behalf of which
            such individual is accessing or using the Service, as applicable.
          </li>
        </ul>

        <h2>Information Collection and Use</h2>
        <p>
          For a better experience while using our Service, we may require You to
          provide us with certain personally identifiable information. More
          information can be found in the section "Types of Data Collected".
        </p>
        <p>
          The app does use third party services that may collect information
          used to identify You. More information can be found in the section
          "Service Providers".
        </p>

        <p><strong>Types of Data Collected</strong></p>
        <p><strong>Personal Data</strong></p>
        <p>
          While using Our Service, We may ask You to provide Us with certain
          personally identifiable information that can be used to contact or
          identify You. Personally identifiable information may include, but is
          not limited to:
        </p>
        <ul>
          <li>Usage Data</li>
        </ul>

        <p><strong>Usage Data</strong></p>
        <p>
          Usage Data is collected automatically when using the Service. Usage
          Data may include information such as Your Device's Internet Protocol
          address (e.g. IP address), browser type, browser version, the pages of
          our Service that You visit, the time and date of Your visit, the time
          spent on those pages, unique device identifiers and other diagnostic
          data. When You access the Service by or through a mobile device, We
          may collect certain information automatically, including, but not
          limited to, the type of device You use, the IP address of Your Device,
          Your mobile operating system, the type of mobile Internet browser You
          use, unique device identifiers and other diagnostic data. We may also
          collect information that Your browser sends whenever You visit our
          Service or when You access the Service by or through a mobile device.
        </p>

        <p><strong>Cookies, LocalStorage, and Tracking Technologies</strong></p>
        <p>
          Cookies are files with small amount of data that is commonly used an
          anonymous unique identifier. These are sent to Your browser from the
          website that You visit and are stored on Your Devices’s internal
          memory.
        </p>
        <p>
          Tracking technologies are beacons, tags, and scripts to collect and
          track information and to improve and analyze Our Service. You can
          instruct Your browser to refuse all Cookies or to indicate when a
          Cookie is being sent. However, if You do not accept Cookies, You may
          not be able to use some parts of our Service. Cookies can be
          "Persistent" or "Session" Cookies. Persistent Cookies remain on Your
          Device when You go offline, while Session Cookies are deleted as soon
          as You close Your web browser.
        </p>
        <p>
          This Service does not use Cookies or tracking technologies explicitly.
          However, the Service may use third party code and libraries that use
          Cookies or tracking technologies to collect information and to improve
          their services. You have the option to either accept or refuse these
          Cookies, and know when a Cookie is being sent to Your Device. If You
          choose to refuse Our Cookies, You may not be able to use some portions
          of this Service.
        </p>
        <p>
          This Service uses LocalStorage to store Your Cookie and language
          preferences. This data is transferred neither to Our servers nor to
          third parties.
        </p>
        <p>
          <strong>You have currently chosen to {{ cookiePreference }}.</strong>
          You can change this by clicking <a @click="toggleCookies">here</a>.
        </p>

        <h2>Service Providers</h2>
        <p>
          We may employ third-party companies and individuals due to the
          following reasons:
        </p>
        <ul>
          <li>To facilitate our Service;</li>
          <li>To provide the Service on our behalf;</li>
          <li>To perform Service-related services; or</li>
          <li>To assist us in analyzing how our Service is used.</li>
        </ul>
        <p>
          We provide information to third parties such as Google Inc. who
          collect information through our use of Google Analytics on our
          website. Google uses this information, including IP addresses and
          information from Cookies, for a number of purposes, such as improving
          its Google Analytics service. Information is shared with Google on an
          aggregated and anonymised basis. To find out more about what
          information Google collects, how it uses this information and how to
          control the information sent to Google, please see the following page:
          <a
            href="https://www.google.com/policies/privacy/partners/"
            target="_blank"
            >https://www.google.com/policies/privacy/partners/</a
          >.
        </p>

        <h2>Security</h2>
        <p>
          We value Your trust in providing us Your Personal Information, thus we
          are striving to use commercially acceptable means of protecting it.
          But remember that no method of transmission over the internet, or
          method of electronic storage is 100% secure and reliable, and We
          cannot guarantee its absolute security.
        </p>

        <p><strong>Links to Other Sites</strong></p>
        <p>
          This Service may contain links to other sites. If You click on a
          third-party link, You will be directed to that site. Note that these
          external sites are not operated by Us. Therefore, We strongly advise
          You to review the Privacy Policy of these websites. We have no control
          over, and assume no responsibility for the content, privacy policies,
          or practices of any third-party sites or services.
        </p>

        <h2>Children’s Privacy</h2>
        <p>
          This Services do not address anyone under the age of 13. We do not
          knowingly collect personal identifiable information from children
          under 13. In the case We discover that a child under 13 has provided
          Us with personal information, We immediately delete this from our
          servers. If You are a parent or guardian and You are aware that Your
          child has provided us with personal information, please contact Us so
          that We will be able to do necessary actions.
        </p>

        <h2>Changes to This Privacy Policy</h2>
        <p>
          We may update our Privacy Policy from time to time. Thus, You are
          advised to review this page periodically for any changes. We will
          notify You of any changes by posting the new Privacy Policy on this
          page. These changes are effective immediately, after they are posted
          on this page.
        </p>

        <h2>Contact Us</h2>
        <p>
          If You have any questions or suggestions about Our Privacy Policy, do
          not hesitate to
          <router-link :to="{ path: '/imprint' }">contact Us.</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { getAnalytics, deleteAllCookies } from "@/firebase";

@Component
export default class Privacy extends Vue {
  // Computed properties
  /**
   * Whether cookies have been accepted by the user
   * Needed to display the current cookie consent status in the privacy policy
   * @see {@link cookiePreference}
   */
  get acceptCookies(): boolean {
    return this.$store.state.acceptCookies;
  }

  /**
   * Returns a string indicating the current cookie consent status
   */
  get cookiePreference(): string {
    if (this.acceptCookies) {
      return "accept Cookies";
    } else {
      return "not accept Cookies";
    }
  }

  // Methods
  /**
   * Toggles the cookie consent status
   * When cookies are accepted, a new Google Analytics object is created and the cookies get installed.
   * When acceptance of cookies is revoked, all currently installed cookies get deleted.
   * @private
   */
  private toggleCookies() {
    if (this.acceptCookies) {
      this.$store.commit("setAcceptCookies", false);
      getAnalytics().setAnalyticsCollectionEnabled(false);
      deleteAllCookies();
      location.reload(); // Reload the page to activate changes
    } else {
      this.$store.commit("setAcceptCookies", true);
      getAnalytics(); // create Analytics object
    }
  }
}
</script>
>
