<template>
  <!-- Roadmap for the website -->
  <div class="tile is-ancestor roadmap">
    <div class="tile is-parent">
      <div class="tile is-child box roadmap-content">
        <h1>{{ $t("message.roadmapH1") }}</h1>
        <p>{{ $t("message.roadmapP1") }}</p>
        <i18n path="message.roadmapP2" tag="p">
          <template v-slot:imprint>
            <router-link :to="{ path: '/imprint' }">{{
              $t("ui.imprint")
            }}</router-link>
          </template>
          <template v-slot:gitlab>
            <a href="https://gitlab.com/Buschium/wer-bin-ich" target="_blank"
              >Gitlab</a
            >
          </template>
        </i18n>
        <h2>{{ $t("message.roadmapH2") }}</h2>
        <ol>
          <li><strike>{{ $t("message.roadmapL1") }}</strike></li>
          <li>{{ $t("message.roadmapL2") }}</li>
          <li>{{ $t("message.roadmapL3") }}</li>
          <li>{{ $t("message.roadmapL4") }}</li>
          <li>{{ $t("message.roadmapL5") }}</li>
        </ol>
        <h2>{{ $t("message.roadmapH3") }}</h2>
        <ol>
          <li>{{ $t("message.roadmapL6") }}</li>
          <li>{{ $t("message.roadmapL7") }}</li>
          <li>{{ $t("message.roadmapL8") }}</li>
          <li>{{ $t("message.roadmapL9") }}</li>
          <li>{{ $t("message.roadmapL10") }}</li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Roadmap extends Vue {}
</script>
>
