.messages-list-item, .questions-list-item {
  transition: all 0.2s;
}

.messages-list-enter, .messages-list-leave-to, .questions-list-enter, .questions-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.messages-list-leave-active, .questions-list-leave-active {
  position: absolute;
}