$liberty: #5F5AA2;
$amethyst: #9067C6;
$purple-navy: #4E4A85;
$slate-blue: #6B63D8;
$lavender: #B284ED;
$lavender-gray: #CBC9D6;
$white: #FFFFFF;
$ghost-white: #FAF9FF;
$alice-blue: #F2EFFF;
$madison: #2C3E50;

$primary: #34495e;
$primary-invert: findColorInvert($primary);
$secondary: #7946CF;
$secondary-invert: findColorInvert($secondary);
$gradient: #BB09D3;
$gradient-invert: findColorInvert($gradient);
$hasSolved: #00A25D;
$hasSolved-invert: findColorInvert($hasSolved);
$deactivated: #d3d3d3;
$deactivated-invert: findColorInvert($deactivated);
$deactivated-danger: #D6AABC;
$deactivated-danger-invert: findColorInvert($deactivated-danger);

$yes: #00A25D;
$yes-invert: findColorInvert($yes);
$no: #E00460;
$no-invert: findColorInvert($no);
$solved: #3298dc;
$solved-invert: findColorInvert($solved);
$invalid: #34495e;
$invalid-invert: findColorInvert($invalid);