@import "defaults";

$primary: #0aabc7 !default;
$secondary: #bb09d3 !default;

$header-color: $ghost-white !default;

$input-background-color: #F0EDE6 !default;

$font-family: $base-font-family;
$font-weight: $base-font-weight;
$font-size: $base-font-size;

$dark-text-color: $madison !default;
$light-text-color: $ghost-white !default;

$dark-bg: $madison !default;
$light-bg: $white !default;

$window-width: $base-window-width !default;
$window-height: $base-window-height !default;
$message-max-width: $base-message-max-width !default;