#app {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  color: $primary;
  // background-image: url(https://coursecosmos.com/img/bg.abaf5af7.png),
  //   linear-gradient(45deg, #0aabc7, #bb09d3);
  background: linear-gradient(45deg, #0aabc7, #bb09d3);

  #content-window {
    width: 70%;
    min-width: fit-content;
    margin: auto;

    @include touch {
      width: 100%;
    }
  }

  .content.router {
    padding: 5vh 0 0;
  }
  .navbar {
    margin: auto;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .navbar-brand {
      font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
        Arial, sans-serif;
      font-size: 1.5rem;
      color: $secondary;
    }

    .navbar-item {
      color: $primary;

      &:hover:focus {
        color: $primary;
        background-color: white;
      }

      &:hover {
        color: $primary;
      }

      &:focus {
        background-color: transparent;
      }
    }
  }

  .cookie-dialog {
    font-family: inherit;
    font-size: 1rem;

    .cookie__floating__buttons__button {
      -webkit-transition: background-color 200ms ease;
      transition: background-color 200ms ease;
      
      font-family: inherit;
      &--accept {
        color: $yes;
        &:hover {
          color: white;
          background-color: $yes;
        }
      }
      &--decline {
        font-family: inherit;
        color: $no;
        &:hover {
          color: white;
          background-color: $no;
        }
      }
    }
  }
}
.content.router {
  padding: 3rem;
}
