@import "../modules/all";

body {
  font-family: $font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  background-color: $light-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}