.feedback {
  margin: -0.75rem auto !important;

  &.is-ancestor {
    min-width: fit-content;
    min-height: fit-content;
    margin: -0.75rem auto !important;
  }

  .feedback-form {
    padding: 0;
    margin: auto !important;
    min-width: fit-content;
    max-width: 30vw;
    min-height: fit-content;
    $color: $primary;

    @include mobile {
      max-width: 90vw;
    }

    .airtable-embed {
      overflow: visible;
      font-family: inherit;
    }
  }
}