.footer {
  &-container {
    margin: 10vh 0 auto;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.9);

    &.box {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      margin-bottom: 0;
    }

    .footer-link-title {
      font-size: 1.25rem;
      font-weight: 600;
      color: $primary;

      a {
        color: $primary;
        &:hover {
          color: $secondary;
        }
      }
    }

    .footer-link {
      margin-top: 0.5rem;

      a {
        color: $primary;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
