.games-list {
  margin: -0.75rem auto !important;

  &.is-ancestor {
    background: transparent;
    width: 75%;
    min-width: fit-content;
    min-height: calc(9rem + 60vh);
    margin: -0.75rem auto !important;
  }

  .games-list-content {
    height: fit-content;
    .table td {
      vertical-align: middle;
    }
    .pagination-list {
      margin-top: 0 !important;
      li {
        margin-top: 0;
      }
    }
    .tag.is-secondary {
      color: white;
    }
  }
}