.game {
  overflow: hidden;

  .popup {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 40;
  }

  .is-ancestor {
    @include mobile {
      margin: 0;
    }

    .side-left {
      position: absolute;
      left: -16rem;
      z-index: 40;
      transition: all 0.3s ease;

      &.expanded {
        left: 0;
      }
    }

    .side-right {
      position: absolute;
      top: 0;
      right: -16rem;
      z-index: 40;
      transition: all 0.3s ease;

      &.expanded {
        right: 0;
      }
    }
  }

  &--center{
    min-height: 75vh !important;
    @include mobile {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .current-player {
      background-color: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(5px);
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 0.5rem;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title,
      .subtitle {
        margin-top: 0;
        margin-bottom: 0.25rem;
        color: $white;

        &.player-character {
          filter: blur(8px);
        }
      }
    }

    &.party-mode {
      .current-player {
        max-height: 60vh;
        @include mobile {
          height: 60vh;
        }
        .character-image {
          margin: 0.75rem;
          border: 2px solid white;
          border-radius: 5px;
          max-width: 75%;
          max-height: 75%;
        }
        .player-image {
          margin: 3rem;
          max-width: 40%;
          max-height: 40%;
        }
      }
      .buttons {
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 6rem;
        margin-bottom: 0;
        .button-solve, .button-next {
          color: white;
          height: 100%;
          width: 49%;
        }
        .button-solve {
          border: 5px solid $hasSolved;
        }
        .button-next {
          border: 5px solid $primary;
        }
      }
    }

    &.chat-mode {
      .current-player {
        max-height: 8rem;
        @include mobile {
          height: 8rem;
        }
      }
    }

    .chat {
      padding: 0;
      height: 60vh;
    }
  }

  &--main {
    margin: -0.75rem auto !important;

    @include mobile {
      // width: 150vw;
      align-items: center;
      position: relative;
    }
  }

  &--lobby {
    min-height: 75vh;
    width: 60%;
    min-width: fit-content;
    margin: -0.75rem auto !important;

    @include mobile {
      // width: 150vw;
      align-items: center;
      position: relative;
    }

    .start-game {
      margin-bottom: 1.5rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      max-height: 8rem;

      @include mobile {
        height: 8rem;
      }

      &-button {
        background-color: transparent;
      }

      &-span {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.25);

        &::after{
          animation: spinAround .7s infinite linear;
          border: 2px solid #dbdbdb;
          border-radius: 290486px;
          border-right-color: transparent;
          border-top-color: transparent;
          content: "";
          display: block;
          height: 1em;
          width: 1em;
          margin-left: 1rem;
        }
      }

      a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        border-radius: 0.4rem;

        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.25);

        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }

        span {
          background-color: transparent;
        }
      }

      span {
        font-size: x-large;
        color: white;
      }
    }

    .player-character {
      filter: blur(8px);
    }

    .link-message {
      width: 100%;
      margin: auto;
    }
  }
}
