.home {
  margin: -0.75rem auto !important;

  &.is-ancestor {
    width: 75%;
    min-width: fit-content;
    min-height: fit-content;
    height: calc(9rem + 60vh);
    margin: -0.75rem auto !important;

    @include mobile {
      height: fit-content;
    }
  }

  .stats-column {
    padding: 1rem 0 1rem 1rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.90);
    min-width: fit-content;
    max-width: 30rem;
    min-height: fit-content;

    @include flex(column, flex-start);
    flex-grow: 999;
    overflow: auto;
    overflow-x: hidden;

    .howto-mobile {
      max-height: 25vh;
      overflow: hidden;
      transition: all 0.5s ease;
      &.expanded {
        max-height: 1000px;
      }
      &:not(.expanded):before {
        content:'';
        width:100%;
        height:100%;    
        position:absolute;
        left:0;
        top:0;
        background:linear-gradient(transparent 75px, rgba(255, 255, 255, 0.90));
      }
    }

    .expand-howto-mobile {
      @include arrow($primary);
      position: inherit;
      margin: auto;
      transition: transform 0.5s ease;
      &.expanded {
        transform: rotate(135deg);
      }
    }

    h2 {
      text-align: center;
      font-size: 1.45rem;
      margin: 2rem 1rem 1rem 0;
    }

    h3 {
      font-size: 1.15rem;
      margin-right: 1rem;
    }

    p {
      margin-right: 1rem;
    }
  }

  .card-button {
    height: 100%;
    margin-bottom: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    .new-game, .join-game {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: x-large;
      border-radius: 4px;

      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.25);

      -webkit-transition: background-color 200ms ease;
      transition: background-color 200ms ease;

      @include mobile {
        height: 20vh;
      }

      &:hover {
        background-color: transparent;
      }

      span {
        font-size: x-large;
        color: white;
        background-color: transparent;
      }
    }
  }

  .modal-container {
    height: 100%;
    width: 100%;
  }
}