.message-input {
  margin: 0 1.5rem 1rem 1.5rem;
}

.voting-buttons {
  z-index: 9;
  margin-bottom: 1rem;

  .tile {
    &.is-child {
      margin: 0 !important;
    }

    &.is-ancestor {
      margin: 0 1rem;
      padding: 0;
    }
  }

  .column {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .voting-countdown {
    margin: 0.5rem 1.5rem 0.5rem !important;
    width: inherit;
  }
}