.list {
  height: 100%;
  font-size: 1rem;
  background-color: #FFFFFFF0;

  @include mobile {
    height: calc(9.5rem + 60vh);
    width: 16rem;
    background-color: white;
  }

  .media-container {
    height: fit-content;
    margin: 0 1rem;
    padding: 0.4rem 0;
  }

  .media {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
    height: 3.5rem;
    margin: 0.5rem 0;
  }

  .media + .media, .media-container + .media-container {
    border-top: 1px solid lightgrey;
  }

  figure {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 1rem !important;
  }

  .media:not(:last-child) {
    margin: 0.5rem 0;
  }

  .player-placeholder-container {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  hr {
    height: 1px;
    margin: 0;
  }

  span.player-character {
    filter: blur(8px);
  }

  span.player-placeholder {
    font-size: xx-large;
    color: lightgrey;
  }

  .player-item {
    color: $secondary;
  }

  .user-item {
    color: $primary;
  }

  .has-solved {
    color: $hasSolved;
  }

  .deactivated {
    color: lightgrey;
  }

  strong {
    color: inherit;
  }

  &--menu {
    @extend .list;
    @include flex(column, flex-start);
    flex-grow: 999;
    overflow: auto;
    z-index: 40;

    .player-menu-item:hover {
      background: #e1edf5;
    }

    .player-menu-item.deactivated:hover {
      background: transparent;
    }

    .player-menu-item a {
      color: black;
    }

    a.deactivated:hover {
      cursor: default;
    }

    a.deactivated {
      color: lightgray;
    }

    img.deactivated {
      filter: opacity(40%);
    }
  }

  &--questions {
    @extend .list;
    @include flex(column, flex-start);
    flex-grow: 999;
    overflow: auto;
    padding: 1rem 0 1rem 1rem;
    transition: all 0.5s;
    overflow-x: hidden;

    .media {
      height: fit-content;
      margin-right: 1rem !important;
      margin-bottom: 0 !important;
    }

    .dummy-question {
      margin-right: 1rem;
      text-align: center;
      color: darkgrey;
    }
  }

  &--player {
    @extend .list;
    @include flex(column, flex-start);
    flex-grow: 999;
    overflow: auto;
  }
}
