.window {

  %message {
    margin-top: 3px;
    padding: 3px 5px;
    
    &__contents {
      max-width: $message-max-width;
      word-wrap: break-word;
      text-align: start;
    }
  }

  .message {

    @mixin message__contents($border-color: $alice-blue, $color: inherit, $background-color: none) {
      border: 1px solid $border-color;
      border-radius: 10px;
      color: $color;
      background-color: $background-color;
      padding: 3px 5px;
    }

    &__contents {
      margin-right: 5px;
      text-align: center;
    }

    &--notification {
      @extend %message;
      @include flex(row, center);

      .message {
        &__contents {
          @include message__contents($primary, #1d72aa, #f6fbfe);
          width: 100%;
          margin-right: 5px;
          margin-left: 5px;
          text-align: center;
          border-style: solid;
          border-radius: 4px;
          border-width: 0 0 0 4px;
        }
      }
    }

    &--voting {
      &--yes{
        @extend %message;
        @include flex(row, flex-end);

        .message {
          &__contents {
            @include message__contents(transparent, $ghost-white, $yes);
            min-width: 5rem;
          }
        }
      }
      &--no{
        @extend %message;
        @include flex(row, flex-end);

        .message {
          &__contents {
            @include message__contents(transparent, $ghost-white, $no);
            min-width: 5rem;
          }
        }
      }
      &--solved{
        @extend %message;
        @include flex(row, flex-end);

        .message {
          &__contents {
            @include message__contents(transparent, $ghost-white, $solved);
            min-width: 5rem;
          }
        }
      }

      &--invalid {
        @extend %message;
        @include flex(row, flex-end);

        .message {
          &__contents {
            @include message__contents(transparent, $ghost-white, $invalid);
            min-width: 5rem;
          }
        }
      }

      &--no-answer {
        @extend %message;
        @include flex(row, flex-end);

        .message {
          &__contents {
            @include message__contents(transparent, inherit, $deactivated);
            min-width: 5rem;
          }
        }
      }
    }

    &--other {
      @extend %message;
      @include flex(row, flex-end);

      .message {
        &__author {
          @include flex(column, center);
          font-weight: $bold;
          margin-right: 5px;
        }

        &__contents {
          @include message__contents(transparent);
          margin-right: 5px;
          text-align: end;
        }
      }
    }

    &--player {
      @extend %message;
      @include flex(row, flex-start);

      .message {
        &__author {
          @include flex(column, center);
          font-weight: $bold;
          margin-right: 5px;
        }

        &__contents {
          @extend %message__contents;
          @include message__contents(transparent, $ghost-white, $secondary);
          text-align: start;
        }
      }
    }
  }
}