.window {
  &__messages {

    &__container {
      @include flex(column, flex-start);
      flex-grow: 999;
      overflow: auto;
      margin: 1rem;
      transition: all 0.5s;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 0;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
      }
  
      &::-webkit-scrollbar {
         width: 0;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
}