.modal-card {
  max-width: 460px !important;
  font-size: 1rem;
  margin: auto !important;

  @include mobile {
    width: 90vw !important;
  }

  &.game {
    .modal-card-title {
      text-align: center;
      flex-shrink: 1;
    }

    .modal-card-body {
      .modal-text {
        margin-bottom: 0.5rem;
        word-wrap: break-word;
        white-space: normal;
      }
    }

    .modal-card-foot {
      justify-content: space-between;
    }
  }

  .modal-card-title {
    flex-shrink: 1;
  }
}
