.privacy, .imprint, .roadmap, .maintenance {
  margin: -0.75rem auto !important;

  &.is-ancestor {
    width: 75%;
    min-width: fit-content;
    min-height: fit-content;
    margin: -0.75rem auto !important;
  }

  .privacy-policy, .imprint-content, .roadmap-content, .maintenance-content {
    padding: 1rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.90);
    min-width: fit-content;
    max-width: 30vw;
    min-height: fit-content;
    $color: $primary;

    @include mobile {
      max-width: 90vw;
    }

    h2 {
      color: inherit;
    }

    h3 {
      color: inherit;
    }

    p {
      color: inherit;
    }
  }
}