<template>
  <footer class="footer footer-container box">
    <div class="columns">
      <!-- The footer has 2 sections: navigation and language -->
      <!-- Navigation -->
      <div class="column is-3">
        <p class="footer-link-title">
          <router-link :to="{ path: '/' }">{{ $t("ui.home") }}</router-link>
        </p>

        <p class="footer-link">
          <router-link :to="{ path: '/privacy' }">
            {{ $t("ui.privacy") }}
          </router-link>
        </p>

        <p class="footer-link">
          <router-link :to="{ path: '/imprint' }">
            {{ $t("ui.imprint") }}
          </router-link>
        </p>

        <p class="footer-link">
          <router-link :to="{ path: '/feedback' }">
            {{ $t("ui.feedback") }}
          </router-link>
        </p>
      </div>

      <!-- Language -->
      <div class="column is-3">
        <p class="footer-link-title">
          {{ $t("ui.languages") }}
        </p>

        <!-- Every entry in the languages array (see below) creates a button to select the language -->
        <p v-for="entry in languages" :key="entry.title" class="footer-link">
          <a @click="changeLocale(entry.language)">
            <flag :iso="entry.flag" v-bind:squared="false" /> {{ entry.title }}
          </a>
        </p>
      </div>
    </div>
    Favicon created by
    <a
      href="https://www.flaticon.com/de/autoren/freepik"
      title="Freepik"
      target="_blank"
      >Freepik</a
    >
    from
    <a href="https://www.flaticon.com/de/" title="Flaticon" target="_blank">
      www.flaticon.com</a
    >
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import i18n from "../i18n";

@Component
export default class Footer extends Vue {
  // Data
  /**
   * An array containing the available languages as objects comprised of the flag code, the ISO code for the language,
   * and the full name of the language
   * @private
   */
  private languages = [
    { flag: "de", language: "de", title: "Deutsch" },
    { flag: "gb", language: "en", title: "English" }
  ];

  // Methods
  /**
   * Changes the locale when a language has been selected
   * @param locale - The ISO code of the selected language
   */
  private changeLocale(locale: string) {
    i18n.locale = locale;
    localStorage.setItem("locale", locale);
  }
}
</script>
