<template>
  <div class="chat window box">
    <section
      id="window__messages__container"
      class="window__messages__container"
    >
      <messages-list class="messages-list" />
    </section>
    <input-container />
  </div>
</template>

<script lang="ts">
import { Component, Watch, Vue } from "vue-property-decorator";
import { scrollToBottom } from "./helpers/scroll";
import { Message } from "@/types";
import MessagesList from "./messages/MessagesList.vue";
import InputContainer from "./input/InputContainer.vue";

@Component({
  components: {
    MessagesList,
    InputContainer
  }
})
export default class GameChat extends Vue {
  // Computed properties
  /**
   * Returns all messages sent so far.
   */
  get messages(): Array<Message> {
    return this.$store.state.game.messages;
  }

  // Lifecycle hook
  /**
   * By default, the message container is scrolled to the top when being rendered.
   * Therefore, we need to scroll to the bottom when the page is created.
   */
  created() {
    scrollToBottom("window__messages__container", 0);
  }

  //Watcher
  /**
   * Scroll to the bottom whenever a new message is received.
   */
  @Watch("messages")
  onMessages() {
    scrollToBottom("window__messages__container", 0);
  }
}
</script>
