<template>
  <b-modal
    :active="showGameModal"
    has-modal-card
    :destroy-on-hide="true"
    scroll="keep"
    :on-cancel="hideGameModal"
  >
    <form action="">
      <div class="modal-card game" style="max-width: 640px">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ $t("ui.newGame") }}</p>
        </header>

        <section class="modal-card-body">
          <!-- Field for entering the display name of the game creator -->
          <b-field :label="$t('ui.name')">
            <b-input
              type="text"
              v-model="userName"
              :placeholder="$t('ui.yourName')"
              required
            >
            </b-input>
          </b-field>

          <!-- Field for entering the maximum number of players for the game -->
          <b-field :label="$t('ui.player')">
            <b-numberinput
              :editable="false"
              v-model="maxPlayers"
              min="2"
              max="10"
              type="is-primary"
            ></b-numberinput>
          </b-field>

          <div class="field">
            <b-switch v-model="partyMode">
              <b-tooltip
                :label="$t('message.partyModeTooltip')"
                type="is-info"
                dashed
                multilined
              >
                {{ $t("message.startInPartyMode") }}
              </b-tooltip>
            </b-switch>
          </div>

          <div class="field">
            <b-switch v-model="privateGame">
              <b-tooltip
                :label="$t('message.privateGameTooltip')"
                type="is-info"
                dashed
                multilined
              >
                {{ $t("message.startInPrivateMode") }}
              </b-tooltip>
            </b-switch>
          </div>

          <p class="modal-foot-text">
            {{ $t("message.gameModalFootText") }}
          </p>
        </section>

        <footer class="modal-card-foot">
          <button
            class="button is-danger is-outlined"
            type="button"
            @click="hideGameModal"
          >
            {{ $t("ui.cancel") }}
          </button>
          <button class="button is-success" type="button" @click="createGame">
            {{ $t("ui.createGame") }}
          </button>
        </footer>
      </div>
    </form>
  </b-modal>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import firebase from "firebase";

@Component
export default class GameModal extends Vue {
  // Data
  /**
   * The display name of the game creator.
   * @private
   */
  private userName: string | null = null;

  /**
   * The maximum number of players in the game, must be a minimum of 2.
   * @private
   */
  private maxPlayers = 2;

  /**
   * Whether the game will be started in party (voice chat) mode
   * @private
   */
  private partyMode = true;

  /**
   * Whether the game will be private, i.e. not show up in the open games list
   * @private
   */
  private privateGame = false;

  // Computed properties
  /**
   * Whether the modal for creating a new game is currently being shown.
   */
  get showGameModal(): boolean {
    return this.$store.state.showGameModal;
  }

  // Methods
  /**
   * Hides the game modal.
   * @private
   */
  private hideGameModal() {
    this.$store.commit("setShowGameModal", false);
  }

  /**
   * Creates a new Firebase user and game with the data (creator name and max players) from the modal fields.
   * @private
   */
  private createGame() {
    firebase
      .auth()
      .signInAnonymously()
      .then((cred: firebase.auth.UserCredential) => {
        if (!cred.user) {
          return;
        }
        cred.user.updateProfile({
          displayName: this.userName
        });
        this.$store
          .dispatch("createGame", {
            uid: cred.user.uid,
            userName: this.userName,
            maxPlayers: this.maxPlayers,
            partyMode: this.partyMode,
            privateGame: this.privateGame
          })
          .then((gameId: string) => {
            this.$router.push({ path: `/game/${gameId}` });
          });
      });
  }
}
</script>
