<template>
  <b-navbar>
    <!-- Website logo to the top left, clicking on the logo takes the user to the home page -->
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <span>
          <b>{{ $t("ui.who") }}</b
          >{{ $t("ui.am") }}<b>{{ $t("ui.i") }}</b>
        </span>
      </b-navbar-item>
    </template>

    <!-- Routing links to the home and feedback pages -->
    <template slot="start">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        {{ $t("ui.home") }}
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/feedback' }">
        {{ $t("ui.feedback") }}
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/roadmap' }">
        {{ $t("ui.roadmap") }}
      </b-navbar-item>
    </template>

    <!-- Link to the GitLab repository for the website -->
    <template slot="end">
      <b-navbar-item tag="div">
        <b-button
          tag="a"
          type="is-primary"
          icon-left="gitlab"
          icon-pack="fab"
          href="https://gitlab.com/Buschium/wer-bin-ich"
          target="_blank"
        >
          Gitlab
        </b-button>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Navbar extends Vue {}
</script>
