<template>
  <div class="list--player">
    <perfect-scrollbar id="player-scroll-container">
      <div
        v-for="(n, index) in maxPlayers"
        :key="index"
        class="media-container"
      >
        <article v-if="index < players.length" class="media">
          <!-- Icon to the left of the player name -->
          <figure class="media-left">
            <!-- Red plug icon for players who have disconnected from the game -->
            <b-icon
              v-if="getClass(players[index]) === 0"
              pack="fas"
              icon="plug"
              size="is-large"
              type="is-deactivated-danger"
            >
            </b-icon>

            <!-- Green checkmark for players who have correctly guessed their character -->
            <b-icon
              v-else-if="getClass(players[index]) === 1"
              pack="far"
              icon="check-circle"
              size="is-large"
              type="is-hasSolved"
            >
            </b-icon>

            <!-- Question mark for players who have not yet guessed their character. -->
            <b-icon
              v-else
              pack="far"
              icon="question-circle"
              size="is-large"
              :type="{
                'is-secondary': getClass(players[index]) === 2,
                'is-primary': getClass(players[index]) !== 2
              }"
            >
            </b-icon>
          </figure>

          <div class="media-content">
            <!-- The user name of the player is coloured depending on their status (solved, their turn, etc.) -->
            <div
              class="content"
              :class="{
                deactivated: getClass(players[index]) === 0,
                'has-solved': getClass(players[index]) === 1,
                'player-item': getClass(players[index]) === 2,
                'user-item': getClass(players[index]) === 3
              }"
            >
              <p>
                <strong>{{ players[index].userName }}</strong>
                <br />
                <!-- The current user's character is not shown to them, but everybody else can see it -->
                <span
                  v-if="isUserCharacter(players[index])"
                  class="player-character"
                  >{{ $t("ui.niceTry") }}</span
                >
                <span v-else>{{ players[index].character }}</span>
              </p>
            </div>
          </div>
        </article>
        <!-- Open player slots in the game are numbered -->
        <div v-else class="player-placeholder-container">
          <span class="player-placeholder">#{{ n }}</span>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Player } from "@/types";

@Component
export default class PlayerList extends Vue {
  // Computed properties
  /**
   * Returns the players in this game as an array.
   */
  get players(): Array<Player> | undefined {
    return Object.entries(this.$store.state.game.players).map(
      x => x[1] as Player
    );
  }

  /**
   * Returns the UID of the current user.
   */
  get userId(): string | undefined {
    if (this.$store.state.user) {
      return this.$store.state.user.uid;
    } else {
      return undefined;
    }
  }

  /**
   * Returns the UID of the player whose turn it is.
   */
  get currentPlayer(): string | undefined {
    return this.$store.state.game.playerId;
  }

  /**
   * Returns the maximum number of players for the current game.
   */
  get maxPlayers(): number {
    return this.$store.state.game.maxPlayers;
  }

  // Methods
  /**
   * Returns the status of a player coded as an integer.
   * 0 = player is offline
   * 1 = player has guessed their character
   * 2 = it's this player's turn
   * 3 = this player is the current user
   * -1 = everybody else
   * @param player - The player whose status is requested
   * @private
   */
  private getClass(player: Player): number {
    if (!player.online) {
      return 0;
    } else if (player.hasSolved) {
      return 1;
    } else if (player.userId === this.currentPlayer) {
      return 2;
    } else if (player.userId === this.userId) {
      return 3;
    } else {
      return -1;
    }
  }

  /**
   * Whether this character should be hidden from the current user.
   * The character will be hidden if it's assigned to the current user and they haven't guessed it yet.
   * @param player - The player for whose character the check is requested
   * @private
   */
  private isUserCharacter(player: Player) {
    return (
      player.userId === this.userId &&
      !player.hasSolved &&
      player.character != null
    );
  }
}
</script>
