<template>
  <div class="card list--menu">
    <!-- Player items are deactivated / greyed out if they can't be selected for character assignment (either
    another player has "reserved" it or the item is a placeholder) -->
    <perfect-scrollbar id="player-scroll-container">
      <div
        class="media-container"
        v-for="(n, index) in maxPlayers"
        :key="index"
        :class="{
          'player-menu-item': index < players.length,
          deactivated: isDeactivated(players[index])
        }"
      >
        <!-- Clickable entry for players -->
        <!-- Clicking on a player entry starts the character assignment for this player unless it is deactivated -->
        <a
          v-if="index < players.length"
          :class="{
            deactivated: isDeactivated(players[index])
          }"
          @click="
            if (!isDeactivated(players[index]))
              startCharacterAssignment(players[index].userId);
          "
        >
          <article class="media">
            <!-- Icon for the player entry -->
            <figure class="media-left">
              <!-- Red plug icon for players who have disconnected from the server -->
              <b-icon
                v-if="!players[index].online"
                pack="fas"
                icon="plug"
                size="is-large"
                type="is-deactivated-danger"
              >
              </b-icon>

              <!-- Question mark icon for everyone else. Greyed out if the player item is deactivated -->
              <b-icon
                v-else
                pack="far"
                icon="question-circle"
                size="is-large"
                :type="{
                  'is-deactivated': isDeactivated(players[index]),
                  'is-primary': !isDeactivated(players[index])
                }"
              >
              </b-icon>
            </figure>

            <!-- Same as in player list -->
            <div class="media-content">
              <div
                class="content"
                :class="{
                  deactivated: isDeactivated(players[index])
                }"
              >
                <p>
                  <strong>{{ players[index].userName }}</strong>
                  <br />
                  <span
                    v-if="isUser(players[index])"
                    class="player-character"
                    >{{ $t("ui.niceTry") }}</span
                  >
                  <span v-else>{{ players[index].character }}</span>
                </p>
              </div>
            </div>
          </article>
        </a>

        <!-- Non-clickable placeholder entry for open player slots in the game -->
        <div v-else class="player-placeholder-container">
          <span class="player-placeholder">#{{ n }}</span>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Player } from "@/types";

@Component
export default class PlayerMenu extends Vue {
  // Computed properties
  /**
   * Returns the players in this game as an array.
   */
  get players(): Array<Player> {
    return Object.entries(this.$store.state.game.players).map(
      x => x[1] as Player
    );
  }

  /**
   * Returns the UID of the current user.
   */
  get userId(): string | undefined {
    if (this.$store.state.user) {
      return this.$store.state.user.uid;
    } else {
      return undefined;
    }
  }

  /**
   * Returns the maximum number of players for the current game.
   */
  get maxPlayers(): number {
    return this.$store.state.game.maxPlayers;
  }

  /**
   * Whether the current user has already assigned a character to another player.
   */
  get hasAssigned(): boolean {
    const assignee = this.players.filter(
      (player: Player) => player.characterGiver === this.userId
    )[0];
    return assignee !== undefined && assignee.character !== undefined;
  }

  // Methods
  /**
   * Determines whether the player menu entry for a given player should be deactivated.
   * Yes, if the player is either the current user (you can't assign a character to yourself) or another player
   * is currently assigning a character to this player.
   * @param player - The player for which the status has to be determined
   * @private
   */
  private isDeactivated(player: Player | undefined): boolean {
    return (
      this.hasAssigned ||
      (player !== undefined &&
        (!player.online ||
          this.isUser(player) ||
          player.characterGiver !== undefined))
    );
  }

  /**
   * Determines whether a player is the current user
   * @param player
   * @private
   */
  private isUser(player: Player): boolean {
    return player.userId === this.userId;
  }

  /**
   * Starts the character assignment process for a player and "reserves" them so no other player can
   * select them in the player menu.
   * @param uid - The UID of the player which the current user wants to assign a character to
   * @private
   */
  private startCharacterAssignment(uid: string) {
    this.$store.dispatch("startCharacterAssignment", { uid });
  }
}
</script>
