<template>
  <div class="box list--questions">
    <perfect-scrollbar id="questions-scroll-container">
      <!-- If the current player hasn't asked a question yet, this is shown in the question list -->
      <p v-if="showDummy" class="dummy-question">
        <span>{{ $t("message.noQuestionAsked") }}</span>
      </p>

      <transition-group name="questions-list" tag="div">
        <article
          class="media questions-list-item"
          v-for="(question, index) in questions"
          :key="index"
        >
          <!-- Icon indicating the answer to the question (yes/no/invalid/solved) -->
          <figure class="media-left">
            <b-icon
              v-if="question.answer === '0' || question.answer === '2'"
              pack="far"
              icon="check-circle"
              size="is-medium"
              type="is-yes"
            >
            </b-icon>
            <b-icon
              v-else-if="question.answer === '1'"
              pack="far"
              icon="times-circle"
              size="is-medium"
              type="is-no"
            >
            </b-icon>
            <b-icon
              v-else-if="question.answer === '3'"
              pack="fas"
              icon="ban"
              size="is-medium"
              type="is-invalid"
            >
            </b-icon>
            <b-icon
              v-else
              pack="far"
              icon="question-circle"
              size="is-medium"
              type="is-deactivated"
            >
            </b-icon>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span>{{ question.question }}</span>
              </p>
            </div>
          </div>
        </article>
      </transition-group>
    </perfect-scrollbar>
  </div>
</template>

<script lang="ts">
import { Component, Watch, Vue } from "vue-property-decorator";
import { Question } from "@/types";
import { scrollToBottom } from "./helpers/scroll";

@Component
export default class QuestionList extends Vue {
  // Computed properties
  /**
   * Returns the questions asked by the player whose turn it currently is as an array.
   */
  get questions(): Array<Question> {
    if (this.$store.state.game.questions) {
      return Object.entries(this.$store.state.game.questions)
        .map(x => x[1] as Question)
        .filter(x => x.authorId === this.$store.state.game.playerId);
    } else {
      return [];
    }
  }

  /**
   * Whether the dummy question should be shown.
   * Yes, if the current player hasn't asked any questions yet.
   */
  get showDummy(): boolean {
    return this.questions.length === 0;
  }

  // Lifecycle hook
  /**
   * By default the newest (most relevant) questions are rendered off-screen if there's an overflow.
   * Therefore, we need to scroll to the bottom of the question list on page (re)load.
   */
  created() {
    scrollToBottom("questions-scroll-container", 0);
  }

  // Watcher
  /**
   * Scroll to the bottom of the question list when receiving a new question
   * @param newValue
   * @param oldValue
   */
  @Watch("questions")
  onQuestions(newValue: Array<Question>, oldValue: Array<Question>) {
    if (newValue.length === oldValue.length + 1) {
      scrollToBottom("questions-scroll-container", 201);
    }
  }
}
</script>
