<template>
  <form action="">
    <div class="modal-card game" style="width: 20rem">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ $t("ui.character") }}</p>
      </header>

      <section class="modal-card-body">
        <p class="modal-text">
          {{ $t("message.startSelectionPromptMessage", [player.userName]) }}
        </p>

        <b-field>
          <b-input
            type="text"
            v-model="character"
            :placeholder="$t('message.startSelectionPromptPlaceholder')"
            maxlength="40"
            required
          >
          </b-input>
        </b-field>

        <p class="modal-text">
          {{ $t("message.uploadImageMessage") }}
        </p>

        <b-field
          class="file is-primary"
          :class="{ 'has-name': file && file.name }"
        >
          <b-upload v-model="file" class="file-label">
            <span class="file-cta">
              <b-icon class="file-icon" icon="upload"></b-icon>
              <span class="file-label">{{ $t("ui.uploadImage") }}</span>
            </span>
            <span class="file-name" v-if="file">
              {{ file.name }}
            </span>
          </b-upload>
        </b-field>
      </section>

      <footer class="modal-card-foot">
        <button
          class="button is-danger is-outlined"
          type="button"
          @click="cancelAssignment"
        >
          {{ $t("ui.cancel") }}
        </button>
        <button
          class="button is-success"
          type="button"
          @click="assignCharacter"
        >
          {{ $t("ui.accept") }}
        </button>
      </footer>
    </div>
  </form>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Player } from "@/types";

@Component
export default class SelectionModal extends Vue {
  // Props
  @Prop({ required: true })
  public player!: Player;

  // Data
  private file: File | null = null;
  private character = "";

  // Methods
  private cancelAssignment() {
    this.$emit("cancelAssignment");
    this.$emit("close");
  }

  private assignCharacter() {
    this.$emit("assignCharacter", {
      character: this.character,
      file: this.file
    });
    this.$emit("close");
  }
}
</script>
