<template>
  <!-- Main container for the application -->
  <div id="app" class="is-fullheight">
    <!-- Loading indicator is shown when there's no connection to the server -->
    <b-loading :active="offline"></b-loading>

    <div id="content-window" class="is-fullheight">
      <!-- The navbar and footer are always shown, regardless of the current page the user visits.
      Views are loaded in the router view -->
      <navbar></navbar>
      <router-view class="content router" />
      <Footer></Footer>

      <!-- Component for showing the cookie consent notification in the bottom right -->
      <vue-cookie-accept-decline
        class="cookie-dialog"
        ref="cookie-consent"
        elementId="cookie-consent"
        position="bottom-right"
        @clicked-accept="acceptCookies"
        @clicked-decline="declineCookies"
      >
        <div slot="message" class="cookie-message">
          <i18n path="message.cookieMessage" tag="p">
            <router-link :to="{ path: '/privacy' }">{{
              $t("message.cookies")
            }}</router-link>
          </i18n>
        </div>
        <div slot="declineContent">
          {{ $t("ui.decline") }}
        </div>
        <div slot="acceptContent">
          {{ $t("ui.accept") }}
        </div>
      </vue-cookie-accept-decline>
    </div>
  </div>
</template>

<script lang="ts">
import Navbar from "./components/Navbar.vue";
import Footer from "./components/Footer.vue";
import { Component, Vue } from "vue-property-decorator";
import { deleteAllCookies, getAnalytics } from "@/firebase";

@Component({
  components: {
    Navbar,
    Footer
  }
})
export default class App extends Vue {
  // Computed properties
  /**
   * Whether there is a connection to the Firebase server
   */
  get offline(): boolean {
    return !this.$store.state.online;
  }

  // Methods
  /**
   * Save cookie consent and install cookies on accept
   * @private
   */
  private acceptCookies() {
    this.$store.commit("setAcceptCookies", true);
    getAnalytics(); // create Analytics object
  }

  /**
   * Save cookie consent and delete all cookies on decline
   * @private
   */
  private declineCookies() {
    this.$store.commit("setAcceptCookies", false);
    deleteAllCookies(); // Delete all cookies for good measure
  }

  /**
   * Determines whether the screen resolution indicates a mobile device and stores the result in Vuex
   * @private
   */
  private isMobile() {
    this.$store.commit(
      "setIsMobile",
      document.documentElement.clientWidth <= 768
    );
  }

  /**
   * Determines whether the screen resolution indicates a touchscreen device (mobile or tablet)
   * and stores the result in Vuex
   * @private
   */
  private isTouch() {
    this.$store.commit(
      "setIsTouch",
      document.documentElement.clientWidth <= 1023
    );
  }

  // Lifecycle hook
  mounted() {
    this.$store.commit("restoreState"); // Restore the state from local storage

    // Set up screen responsiveness before rendering
    this.$nextTick(function() {
      window.addEventListener("resize", this.isMobile);
      window.addEventListener("resize", this.isTouch);
      this.isMobile();
      this.isTouch();
    });
  }
}
</script>

<style lang="scss">
@import "./assets/scss/main";
</style>
